!!! 5
%html{ lang: 'cs' }
  %head
    %meta{ charset: 'utf-8' }
    %title Oldřich Vetešník
    %link{ rel: 'stylesheet', href: '/stylesheets/basic.css' }
    %link{ rel: 'stylesheet', href: '/stylesheets/fluid-grid-system-12.css' }
    %link{ rel: 'stylesheet', href: '/stylesheets/layout.css' }
    %link{ rel: 'stylesheet', href: '/stylesheets/pace-theme-minimal.css' }
    = partial 'application/head'
    %meta{ name: 'viewport', content: 'width=480' }
  %body
    = yield
    = partial 'application/github'
    = partial 'application/footer'

    %script{ src: '/javascripts/pace.min.js' }
    %script{ src: '/javascripts/jquery-1.7.1.min.js' }
    %script{ src: '/javascripts/jquery.github.js' }
    %script{ src: '/javascripts/application.js' }

    = partial 'application/analytics'
